.login-box {
    width: 300px;
    margin: 40px auto;
    padding: 20px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 0 10px #0002;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.logout {
    margin-bottom: 20px;
    background: red;
}
